@font-face {
    font-family: gilroy;
    src: url(../../../font/Gilroy/Gilroy-Medium.ttf),
    url(../../../font/Gilroy/Gilroy-Light.ttf),
}
@font-face {
    font-family: Poiret One;
    src: url(../../../font/PoiretOne.ttf),
}
.booknow {
    width: 100vw;
    height: 25vh;
    background-color: #73C6CD;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.booknow h1 {
    font-size: 2.5vmax;
    font-family: Poiret One;
    font-weight: 500;
    color: white;
}

.booknow button {
    padding: 1.6vmin 4vmin;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 2vmax;
    color: white;
    font-size: 2.5vmin;
    font-family: gilroy;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.booknow button i {
    margin-right: 1vmin;
}

.booknow button:hover {
    background-color: white;
    color: #73C6CD;
}

@media(max-width:500px) {
    .booknow {
        width: 100vw;
        height: 20vh;
        display: flex;
        flex-direction: column;
    }
    .booknow button {
        border-radius: 3vmax;
    }
    .booknow h1 {
        width: 70vw;
        font-size: 4vmax;
    }
}