.home{
    width: 100vw;
    height: 100vh;
}
.bg1{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items:center;
    justify-content:center;
    /* position: relative; */
}
.bg1 img{
    width: 100%;
    height: 100%;
    position: relative;
}
.text1{
    width: 35vw;
    height: 40vh;
    /* background-color: aliceblue; */
    position: absolute;
    top:20vh ;
    left: 45vw;
    text-align: right;
    font-family: Poiret One;
}
.text1 h1{
    color: #D06B96;
    font-size: 7vmax;
    font-weight: 300;
}
.text1 h2{
    color: #4D88E1;
    font-size: 3vmax;
    font-weight: 300;
}
.sm1{
    width: 35vw;
    height: 20vh;
    /* background-color: rgb(218, 223, 227); */
    display: flex;
    align-items: flex-end;
    justify-content: end;
}
.sm1 h3{
    width: 16vw;
    font-size: 3vmin;
    font-family: gilroy;
    font-weight: 300;
    color: gray;
    margin: 2vmin;   
} 
.sm1 button{
    width: 5vmax;
    height: 5vmax;
    background-color: #D06B96;
    color: white;
    font-family: gilroy;
    font-weight: 700;
    border: none;
    border-radius: 50%;
    padding: 2vmin;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arr{
    width:90vw;
    height: 8vh;
    /* background-color: #7fffd4; */
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.arr i{
    color: rgba(255, 255, 255, 0.642);
    font-size: 5vmax;
    font-weight:100;
}

@media(max-width:500px){
    .home{
        width: 100vw;
        height:50vh;
    }
    .bg1{
        width:100vw;
        height:50vh;
        background-position:bottom;
        position: relative;
    }
    .text1{
        width: 45vw;
        height: 15vh;
        position: absolute;
        top:10vh ;
        left: 40vw;
    }
    .text1 h1{
        font-size: 6vmax;
        font-weight: 300;
    }
    .sm1{
        width: inherit;
        height: 9vh;
    }
    .sm1 h3{
        width: 23vw;
        font-size: 2vmin;
    }
    .sm1 button{
        font-size: 1.5vmin;
    }
}
