@font-face {
    font-family: gilroy;
    src: url(../../../font/Gilroy/Gilroy-Medium.ttf),
    url(../../../font/Gilroy/Gilroy-Light.ttf),
}
@font-face {
    font-family: Poiret One;
    src: url(../../../font/PoiretOne.ttf),
}
.bluediv{
    width: 100vw;
    height: 65vh;
    background-image: url('./bluebg.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.parts{
    width: 90vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: red; */
}
.part{
    width: 12vw;
    height: inherit;
    display: flex;
    /* background-color: cadetblue; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    color: white;
}
.part h1{
    font-family: Poiret One;
    font-weight: 300;
}
.part p{
    font-size: 2.5vmin;
    font-family: gilroy;
    line-height: 4vmin;
    font-weight: 300;
}
.part button{
    padding: 1vmin 2vmin;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 2vmax;
    color: white;
    font-size: 1.5vmin;
    font-family: gilroy;
    font-weight: 700;
    transition: all .5s ease-in-out;
    cursor: pointer;
    letter-spacing: 1px;
}
.part button:hover{
    background-color: white;
    color: rgb(89, 166, 196);
}
.parts>:nth-child(3){
    width: 16vw;
}
.part ul li{
    line-height: 4vmin;
    font-size: 2vmin;
    font-family: gilroy;
    font-weight: 300;
}